<?xml version="1.0" ?>

<launch>

  <param name="robot_description" command="$(find xacro)/xacro '$(find imrt_base)/urdf/imrt_robot_description.xacro'" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

  <node pkg="imrt_base" type="imrt_robot_base" name="imrt_robot_base" output="screen" >
    <param name="wheel_diameter" value="0.075" />
    <remap from="cmd_vel" to="twist_mux/cmd_vel" />
  </node>

</launch>
